@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

html{
    font-family: 'Raleway', sans-serif;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* ---------------------------------- */

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 40px;
    max-width: 640px;
  }

section, footer {
    background-color: #EFEFEF;
    height: 600px;
    margin: 40px;
}

.header-nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
  }
  
  .header-nav li {
    margin-left: 20px;
  }
  
  .header-nav a {
    text-decoration: none;
    color: black;
  }
  
  .header-nav i {
    font-size: 30px;
  }

/* ---------------------------------- */

.city-view {
    position: relative;
  }

p {
  font-style: italic;
  line-height: 1.5;
  font-weight: bold;
}

.city-view-content {
  width: 49.9%;
  margin-left: 50px;
  position: absolute;
  top: 20%;
}

.city-view-content::after {
  content: "";
  width: 1px;
  height: 60px;
  background-color: black;
  display: block;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  color: grey;
}

h1 strong {
  color: black;
}

.city-view-img {
  position: absolute;
  height: 60%;
  bottom: 0;
  right: 0;
  margin-right: 50px;
}

.city-view-img img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ---------------------------------- */

.photo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo-img{
    height: 70%;
    margin-left: 100px;
}

.photo-img img{
    height: 100%;
    margin-left: 40px;
}

.photo-description{
    height: 90%;
    margin: 0 150px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-description h1{
    margin: 20px 0;
    display: inline-block;
    position: relative;
    padding-left: 100px;
}

.photo-description h1::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: black;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0
}

.photo-description p{
    margin: 0;
    padding: 10px 0;
}

.photo-description-social{
    margin: 0;
    display: flex;
    align-items: center;
    height: 8%;
}

.photo-description-social a{
    background-color: #909090;
    height: 70%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 40px;
}

/* ---------------------------------- */

.pictures{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
}

.pictures :nth-child(1),
.pictures :nth-child(3){
    height: 60%;
    position: absolute;
}

.pictures :nth-child(1){
    left: 5%;
}

.pictures :nth-child(2){
    height: 80%;
    z-index: 1;
}

.pictures :nth-child(3){
    right: 5%;
}

/* ---------------------------------- */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px 10px 150px;
  }
  
  .footer p {
    text-align: center;
  }
  
  .footer-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 600%;
  }
  
  .footer-form article {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-form article .input {
    height: 30px;
    width: 40%;
  }
  
  .input {
    background-color: inherit;
    border-radius: 5px;
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
  }
  
  #submit {
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 20px;
    height: 30px;
  }

